/*========== TABLE OF CONTENTS ==========
  1. Utility CSS
  2. Common CSS
=========================================*/

/*--------------------------------------
  1. Utility CSS
--------------------------------------*/

.flex-col-center-start {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  /*--------------------------------------
    2. Common CSS
  --------------------------------------*/
  
  .class-1-landing {
    background-color: #000000;
    width: 100%;
  }
  .class-2-login {
    gap: 74px;
    background-color: #000000;
    display: flex;
    width: 100%;
    flex-direction: column;
  
    @media only screen and (max-width: 1050px) {
      gap: 55px;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 37px;
    }
  }
  
  .rowsidebarlogo {
    display: flex;
    align-items: flex-start;
  }
  .brightweb {
    margin-top: 42px;
    margin-left: 44px;
    @media only screen and (max-width: 1050px) {
      margin-left: 0px;
    }
  }
  
  .headerheaderlog {
    display: flex;
    background-color: #6b6b6b19;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .rowheaderlogo-1 {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  .content {
    display: flex;
    padding: 20px;
    border-radius: 20px;
  }
  
  .headerlogo_one {
    height: 20px;
    align-self: flex-end;
    width: 86px;
    object-fit: contain;
  }
  
  .login {
    color: #ffffff !important;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 700;
    gap: 12px;
    background: linear-gradient(123deg, #62bdae, #44babd, #3ba2c3, #2b2b67);
    height: 46px;
    min-width: 116px;
    border-radius: 12px !important;
  }
  .arrow_right-1 {
    height: 20px;
    margin-bottom: 2px;
    width: 20px;
    object-fit: contain;
  }
  
  .columnplayer {
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .explore {
    margin-top: 6px;
  }
  
  .rowcontent-6 {
    gap: 12px;
    display: flex;
  }
  
  .content-4 {
    height: 20px;
  }
  .content-5 {
    height: 44px;
    width: 44px;
  }
  .rownumber {
    display: flex;
  }
  
  .columnone {
    padding-top: 58px;
    padding-bottom: 58px;
    background-color: #1b1f24;
    box-shadow: 0 4px 10px 0 #0000001e;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .column {
    padding-left: 56px;
    padding-right: 56px;
    gap: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @media only screen and (max-width: 1050px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 28px;
    }
  }
  
  .columnwelcomelogin {
    gap: 16px;
    margin-bottom: 35px;
    display: flex;
    width: 52%;
    flex-direction: column;
    align-items: center;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  .columnwelcomesignup {
    gap: 16px;
    margin-bottom: 35px;
    display: flex;
    width: 52%;
    flex-direction: column;
    align-items: center;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  }
  .inputan {
    text-align: center;
    align-self: stretch;
    line-height: 120%;
  }
  
  .columnlogin {
    gap: 56px;
    display: flex;
    width: 52%;
    flex-direction: column;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 28px;
    }
  }
  .columnsignup {
    gap: 56px;
    display: flex;
    width: 52%;
    flex-direction: column;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 550px) {
      gap: 28px;
    }
  }
  
  .columnlabel {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }
  .input-1 {
    gap: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .username {
    color: #adb5bd !important;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    background-color: #1b1f24 !important;
    align-self: stretch;
    height: 40px;
    border-radius: 10px !important;
    border: 1px solid #dee2e6;
  }
  .password {
    color: #adb5bd !important;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    background-color: #1b1f24 !important;
    align-self: stretch;
    height: 40px;
    border-radius: 10px !important;
    border: 1px solid #dee2e6;
  }
  .log_in-1 {
    color: #ffffff !important;
    padding-left: 34px;
    padding-right: 34px;
    font-size: 16px;
    font-weight: 700;
    background: linear-gradient(123deg, #62bdae, #44babd, #3ba2c3, #2b2b67) !important;
    align-self: stretch;
    height: 42px;
    border-radius: 12px !important;
  
    @media only screen and (max-width: 550px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .footercontactus {
    margin-top: 100px;
    display: flex;
    background-color: #6b6b6b19;
    justify-content: center;
    align-items: center;
    padding: 32px;
  
    @media only screen and (max-width: 550px) {
      padding: 20px;
    }
  }
  .footercontactus-login {
    margin-top: 50px;
    display: flex;
    background-color: #6b6b6b19;
    justify-content: center;
    align-items: center;
    padding: 32px;
  
    @media only screen and (max-width: 550px) {
      padding: 20px;
    }
  }
  .rowcontactus-1 {
    width: 76%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  
    @media only screen and (max-width: 1050px) {
      width: 100%;
    }
  
    @media only screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  
  .columnnumber {
    gap: 8px;
    align-self: center;
    display: flex;
    width: 22%;
    flex-direction: column;
    justify-content: center;
  
    @media only screen and (max-width: 550px) {
      width: 100%;
    }
  }
  .columncontactus {
    gap: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .followus {
    color: transparent !important;
    font-family: Inter !important;
    background: linear-gradient(123deg, #62bdae, #44babd, #3ba2c3, #2b2b67);
    background-clip: text;
  }
  
  .rowemail {
    align-self: stretch;
    display: flex;
  }
  
  .email-link {
    align-self: flex-end;
  }
  
  .class-number {
    color: #ffffff7f !important;
    font-family: Inter !important;
  }
  .columnfollowus {
    gap: 14px;
  }
  
  .rowmdfollowus {
    gap: 20px;
    display: flex;
  }
  
  .mdigituhub_one {
    height: 32px;
  }
  