<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>InsightHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/font.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/LandingPage.css" />
</head>



<body>
    <div class="class-1-landing">
        <header class="headerheaderlog">
            <div class="rowheaderlogo">
                <div class="content">
                    <img src="../public/images/InsightHub.png" alt="Headerlogo" class="headerlogo_one" />
                </div>
                <button class="login ui button">
                    <img src="../public/images/line-md_arrow-right.png" alt="Arrow Right" class="arrow_right-1" />
                    <span>Login</span>
                </button>
            </div>
        </header>
        <div class="columnslogan">
            <h1 class="slogan ui heading size-heading_h2">
                pokonya ini kaya<br />slogannya gtdah
            </h1>
            <h2 class="description ui heading size-body_b4">
                Lorem ipsum dolor sit amet consectetur. Et non morbi lorem pellentesque venenatis nunc cras.
                Dolor blandit amet tincidunt vulputate integer penatibus. Neque eget sit bibendum integer.
                Imperdiet cras nisl nam neque lorem sed.
            </h2>
            <button class="login ui button">
                <img src="../public/images/line-md_arrow-right.png" alt="Arrow Right" class="arrow_right" />
                <span>Login</span>
            </button>
        </div>
        <footer class="footercontactus">
            <div class="rowcontactus-1">
                <div class="columnnumber">
                    <div class="columncontactus">
                        <h4 class="followus ui heading size-headings">CONTACT US</h4>
                        <div class="rowemail">
                            <a href="akowkakwo@gmail.com" target="_blank" rel="noreferrer" class="email-link">
                                <h5 class="class-number ui heading size-headingxs">akowkakwo@gmail.com</h5>
                            </a>
                        </div>
                        <div class="rownumber">
                            <p class="class-number ui heading size-textlg">+62 8888888888</p>
                        </div>
                    </div>
                </div>
                <div class="flex-col-center-start columnfollowus">
                    <h4 class="followus ui heading size-headings">FOLLOW US</h4>
                    <div class="rowmdfollowus">
                        <img src="../public/images/mdi_github.png" alt="Mdigithub" class="mdgithub_one" />
                        <img src="../public/images/mdi_instagram.png" alt="Mdiinstagram" class="mdgithub_one" />
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>