<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <title>InsightHub</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="/css/LandingPage.css">
</head>
<body>
    <div class="class-2-login">
        <header class="headerheaderlog">
            <div class="rowheaderlogo-1">
                <div class="content">
                    <img src="/public/images/InsightHub.png" alt="Headerlogo" class="headerlogo_one"/>
                </div>
                <button class="login ui button">
                    <img src="/public/images/line-md_arrow-right.png" alt="Arrow Right" class="arrow_right-1">
                    <span> Login</span>
                </button>
            </div>
        </header>
        <div class="rowwelcome">
            <div class="columnone">
                <div class="columnwelcome">
                    <h1 class="ui heading size-bold_heading_h1">Selamat Datang!</h1>
                    <h2 class="inputan ui heading size-semi_bold_heading_s5">
                        Masukkan username dan password untuk masuk ke dalam akun
                    </h2>
                </div>
                <div class="columnlogin">
                    <div class="columnlabel">
                        <div class="input-1">
                            <h3 class="ui heading size-body_b4">Username</h3>
                            <label class="username ui input background_section size-xs fill round"">
                                <input name="username" placeholder="Placeholder" type="text">
                            </label>
                        </div>
                        <div class="input-1">
                            <h3 class="ui heading size-body_b4">Password</h4>
                                <label class="password ui input background_section size-xs fill round">
                                    <input name="password" placeholder="Placeholder" type="password">
                                </label>
                        </div>
                    </div>
                    <button class="log_in-1 ui button size-md gradient linear_1_indigo_900">Login</button>
                </div>
            </div>
        </div>
        <footer class="footercontactus-login">
            <div class="rowcontactus-1">
                <div class="columnnumber">
                    <div class="columncontactus">
                        <h4 class="followus ui heading size-headings">CONTACT US</h4>
                        <div class="rowemail">
                            <a href="akowkakwo@gmail.com" target="_blank" rel="noreferrer" class="email-link">
                                <h5 class="class-number ui heading size-headingxs">akowkakwo@gmail.com</h5>
                            </a>
                        </div>
                        <div class="rownumber">
                            <p class="class-number ui heading size-textlg">+62 8888888888</p>
                        </div>
                    </div>
                </div>
                <div class="flex-col-center-start columnfollowus">
                    <h4 class="followus ui heading size-headings">FOLLOW US</h4>
                    <div class="rowmdfollowus">
                        <img src="../public/images/mdi_github.png" alt="Mdigithub" class="mdgithub_one" />
                        <img src="../public/images/mdi_instagram.png" alt="Mdiinstagram" class="mdgithub_one" />
                    </div>
                </div>
            </div>
        </footer>
    </div>
      
</body>
</html>