<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>InsightHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/css/font.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/components.css" />
    <link rel="stylesheet" type="text/css" href="/css/UserDashboard.css" />
  </head>
  <body>
    <div class="class-1-landing">
        <div class="rowsidebarlogo">
            <aside class="navigationbar">
                <img src="../public/images/InsightHub.png" alt="Sidebarlogo" class="sidebarlogo_one">
                <ul class="columnproducts">
                    <li>
                        <a href="#">
                            <span> Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span> Recents</span>
                        </a>
                    </li>
                </ul>
            </aside>
            <div class="columnsearch">
                <header class="header">
                    <div class="header-container">
                        <div class="search-bar">
                            <input type="text" placeholder="Search" class="search-input">
                        </div>
                        <div class="user-profile">
                            <img src="../public/images/user-profile-big.png" alt="User Profile" class="profile-img">
                        </div>
                    </div>
                </header>                
                <div class="columncreate">
                    <div class="rowexplore">
                        <div class="columnexplore">
                            <h1 class="explore ui heading size-heading_h3">Explore Dashboards</h1>
                            <h2 class="description-1 ui heading size-body_b5">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In consequatur, 
                                quaerat blanditiis optio est quibusdam cum reiciendis porro, vero, saepe rem. 
                            </h2>
                        </div>
                        <button class="create ui button">
                            <img src="../public/images/user-profile.png" alt="HeroIcons" class="heroicons-soliduser-circle">
                            <span> Create</span>
                        </button>
                    </div>
                    <div>
                        <div class="gridview">
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                            <div class="columnview">
                                <div class="view"></div>
                                <div class="rowcontent">
                                    <h3 class="ui heading size-heading_h5">Content Performance</h3>
                                    <div class="rowcontent-6">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                        <img src="../public/images/user-profile.png" alt="Content" class="content-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
